<div class="container text-center-c">
  <div class="heading">
    <h1 class="text-white mt-3 text-center">Listes des Cocktails</h1>
    <%= link_to 'add a cocktail', new_cocktail_path, class: "btn btn-ghost", :data => { :'toggle' => 'modal', :'target' => '#exampleModal' } %>
  </div>
  <div class="cocktails">
    <% @cocktails.each do |cocktail| %>
    <div class="card">
      <div class="card-footer">
        <div class="haut">
          <%= cocktail.name %>
          <div>
            <%= link_to cocktail_path(cocktail), method: 'delete' do%>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <%= link_to cocktail_path(cocktail) do%>
            <i class="fas fa-pen"></i>
            <% end %>
          </div>
        </div>
        <div class="bas">
          <% cocktail.ingredients.each do |ingredient| %>
          <span><%=  ingredient.name %> - </span>
          <% end %>
        </div>
      </div>
      <card class="card-body" >
        <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      </card>
    </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">create a new cocktail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
         <%= simple_form_for(@cocktail) do |f| %>
         <%= f.input :name%>
         <%= f.input :photo %>
         <%= f.input :photo_cache, as: :hidden %>
         <%= f.submit class: "btn btn-primary"%>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>




<script>
  $(doument).ready(function() {
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  })

</script>
