<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
     <div class="contain-form">
      <div class="heading">
        <div>New dose</div>
        <div>
          <%= link_to cocktails_path do  %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      </div>


      <hr>
      <div class="card">
        <div class="card-header">
         <%= @cocktail.name  %>
       </div>
       <div class="card-body">
        <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>



</div>
